@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Quoting Dojo!</h1>
@if(ViewBag.Error != null)
{
    <p>@ViewBag.Error</p>
}
<form action="/quotes" method="POST">
  <div class="form-group">
    <label for="name">Your name:</label>
    <input type="text" class="form-control" name="name">
  </div>
  <div class="form-group">
    <label for="quote">Your quote:</label>
    <textarea class="form-control" rows="5" name="quote"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add my quote!</button>
</form>
<a href="/quotes" class="btn btn-default">Skip to quotes!</a>
